
<mat-form-field class="example-form-field" appearance="fill">
  <mat-label>Filtros</mat-label>
  <input matInput
        type="text"
        [(ngModel)]="value">
        <button matSuffix mat-mini-fab color="primary" aria-label="Clear" (click)="filterByName(value)">
          <mat-icon>filter_list</mat-icon>
        </button>
        <button matSuffix mat-mini-fab color="warn" aria-label="Clear" (click)="value=''; ngOnInit()">
          <mat-icon>delete</mat-icon>
        </button>
      
</mat-form-field> 

<button
      (click)="crearPersona()"
      mat-raised-button 
      color="basic">Crear Persona</button>
  
  <table mat-table [dataSource]="personas" class="mat-elevation-z8">

    <ng-container *ngFor="let column of displayedColumns"
                [matColumnDef]="column">
      <th mat-header-cell *matHeaderCellDef> {{column | titlecase}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>    
    </ng-container>

    <ng-container matColumnDef="actionButton">
      <th mat-header-cell *matHeaderCellDef> Actions</th>
      <td mat-cell *matCellDef="let persona"> 
        <app-modal [personaDetalle]="persona"></app-modal>
      </td>    
    </ng-container>

    
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['actionButton'])"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['actionButton']);"></tr>

  </table>
